<h1 class="text-center mt-3">Item view</h1>
<div>
    <table class="table">
        <tr>
                <th>Description</th>
                <th>Status</th>
                <th>Issue Type</th>
                <th>Reported by</th>
                <th>Reported on</th>
        </tr>
        <tr>
                <td><p sytle="max-width:50px"><%=@issue.description%></p></td>
                <td ><p><%=@issue.status%></p></td>
                <td ><p><%=@issue.issue_type%></p></td>
                <td ><p><%=@issue.user.name%></p></td>
                <td ><p><%=@issue.created_at%></p></td>
        </tr>
    </table>
    <div class="d-flex flex-row">
        <%=link_to "Edit", edit_issue_path(@issue)%>
        <%=link_to "Back", issues_path%>\
        <%= button_to "Delete", issue_path(@issue), method: :delete,
        data: {turbo_confirm: "Are you sure?"}%>
    </div>
  

</div>

<%# <div 
    class="text-center 
            justify-content-center 
            align-items-center 
            border
            border-4
            rounded-2
            mt-5
            "> %>
