<h1 class="text-center mt-3">User view</h1>
<div 
    class="text-center 
            justify-content-center 
            align-items-center 
            border
            border-4
            rounded-2
            mt-5
            ">

    <table class="table">
        <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Join Date</th>
        </tr>
        <tr>
                <td><p><%=@user.name%></p></td>
                <td><p><%=@user.id%></p></td>
                <td><p><%=@user.email%></p></td>
                <td><p><%=@user.phone%></p></td>
                <td><p><%=@user.created_at%></p></td>
        </tr>
    
    </table>
   
 

    <%=link_to "Edit", edit_user_path(@user)%>
    <%=link_to "Back", users_path%>\
    <%= button_to "Delete", user_path(@user), method: :delete,
        data: {turbo_confirm: "Are you sure?"}%>

</div>
